/** @type {import('next').NextConfig} */
const nextConfig = {
  images: {
    remotePatterns: [
      {
        protocol: 'https',
        hostname: 'img.sbs.co.kr',
      },
      {
        protocol: 'https',
        hostname: 'media.yonhapnewstv.co.kr',
      },
      {
        protocol: 'https',
        hostname: 'image.jtbc.co.kr',
      },
      {
        protocol: 'https',
        hostname: '**',//
      },
    ],
  },
};

module.exports = nextConfig;
